<div class="main">
  <div class="top">
    <img
      src="https://www.thegioinuochoa.com.vn/uploads/manual/banner/2024/thang_10/des/1920x608-hallowen.jpg"
      alt=""
      class="img-top"
    />
  </div>
  <div class="body">
    <div class="conten-body">
      <h3 class="note mt-10">SET QUÀ TẶNG MINI 750K</h3>
      <img
        src="https://www.thegioinuochoa.com.vn/uploads/manual/banner/2024/thang_10/des/buffet-750k-hallowen.jpg"
        alt=""
        class="avt"
      />
      <div class="note2">Set quà tặng 750k gồm 4 sản phẩm tự chọn</div>
    </div>
    <div class="conten-body">
      <h3 class="note mt-10">SET QUÀ TẶNG MINI 950K</h3>
      <img
        src="https://www.thegioinuochoa.com.vn/uploads/manual/banner/2024/thang_10/des/buffet-950k-hallowen.jpg"
        alt=""
        class="avt"
      />
      <div class="note2">Set quà tặng 950k gồm 4 sản phẩm tự chọn</div>
    </div>
  </div>

  <div class="bottom">
    <div class="content-bottom">
      <img
        src="https://www.thegioinuochoa.com.vn/uploads/manual/banner/2024/thang_10/des/combo-sale-hlw.png"
        alt=""
        class="setqua-img"
      />
      <div class="back">
        <div class="par-content-bottom">
          <img
            src="https://www.thegioinuochoa.com.vn/uploads/pm_header/thumb350x350/202410/20241022113702_219137.jpg"
            alt=""
            class="item"
          />
          <img
            src="https://www.thegioinuochoa.com.vn/uploads/pm_header/thumb350x350/202410/20241022111247_802896.jpg"
            alt=""
            class="item"
          />
          <img
            src="https://www.thegioinuochoa.com.vn/uploads/pm_header/thumb350x350/202410/20241022111155_378813.jpg"
            alt=""
            class="item"
          />
          <img
            src="https://www.thegioinuochoa.com.vn/uploads/pm_header/thumb350x350/202410/20241022113621_303786.jpg"
            alt=""
            class="item"
          />

          <img
            src="https://www.thegioinuochoa.com.vn/uploads/pm_header/thumb350x350/202410/20241022111155_378813.jpg"
            alt=""
            class="item"
          />
          <img
            src="https://www.thegioinuochoa.com.vn/uploads/pm_header/thumb350x350/202410/20241022113559_869214.jpg"
            alt=""
            class="item"
          />
          <img
            src="https://www.thegioinuochoa.com.vn/uploads/pm_header/thumb350x350/202410/20241022111147_252533.jpg"
            alt=""
            class="item"
          />
          <img
            src="https://www.thegioinuochoa.com.vn/uploads/pm_header/thumb350x350/202410/20241022111247_802896.jpg"
            alt=""
            class="item"
          />
          <img
            src="https://www.thegioinuochoa.com.vn/uploads/pm_header/thumb350x350/202410/20241022113702_219137.jpg"
            alt=""
            class="item"
          />
          <img
            src="https://www.thegioinuochoa.com.vn/uploads/pm_header/thumb350x350/202410/20241022111247_802896.jpg"
            alt=""
            class="item"
          />
          <img
            src="https://www.thegioinuochoa.com.vn/uploads/pm_header/thumb350x350/202410/20241022111155_378813.jpg"
            alt=""
            class="item"
          />
          <img
            src="https://www.thegioinuochoa.com.vn/uploads/pm_header/thumb350x350/202410/20241022113621_303786.jpg"
            alt=""
            class="item"
          />

          <img
            src="https://www.thegioinuochoa.com.vn/uploads/pm_header/thumb350x350/202410/20241022111155_378813.jpg"
            alt=""
            class="item"
          />
          <img
            src="https://www.thegioinuochoa.com.vn/uploads/pm_header/thumb350x350/202410/20241022113559_869214.jpg"
            alt=""
            class="item"
          />
          <img
            src="https://www.thegioinuochoa.com.vn/uploads/pm_header/thumb350x350/202410/20241022111147_252533.jpg"
            alt=""
            class="item"
          />
          <img
            src="https://www.thegioinuochoa.com.vn/uploads/pm_header/thumb350x350/202410/20241022111247_802896.jpg"
            alt=""
            class="item"
          />
          <img
            src="https://www.thegioinuochoa.com.vn/uploads/pm_header/thumb350x350/202410/20241022113702_219137.jpg"
            alt=""
            class="item"
          />
          <img
            src="https://www.thegioinuochoa.com.vn/uploads/pm_header/thumb350x350/202410/20241022111247_802896.jpg"
            alt=""
            class="item"
          />
          <img
            src="https://www.thegioinuochoa.com.vn/uploads/pm_header/thumb350x350/202410/20241022111155_378813.jpg"
            alt=""
            class="item"
          />
          <img
            src="https://www.thegioinuochoa.com.vn/uploads/pm_header/thumb350x350/202410/20241022113621_303786.jpg"
            alt=""
            class="item"
          />

          <img
            src="https://www.thegioinuochoa.com.vn/uploads/pm_header/thumb350x350/202410/20241022111155_378813.jpg"
            alt=""
            class="item"
          />
          <img
            src="https://www.thegioinuochoa.com.vn/uploads/pm_header/thumb350x350/202410/20241022113559_869214.jpg"
            alt=""
            class="item"
          />
          <img
            src="https://www.thegioinuochoa.com.vn/uploads/pm_header/thumb350x350/202410/20241022111147_252533.jpg"
            alt=""
            class="item"
          />
          <img
            src="https://www.thegioinuochoa.com.vn/uploads/pm_header/thumb350x350/202410/20241022111247_802896.jpg"
            alt=""
            class="item"
          />
        </div>
      </div>
    </div>
  </div>
</div>
