<div class="main">
  <div id="page">
    <div id="container">
      <div id="ring"></div>
      <div id="ring"></div>
      <div id="ring"></div>
      <div id="ring"></div>
      <div id="h3">Kết nối sau {{ count }}</div>
    </div>
  </div>

  <div class="name-list">
    <h3>UDPM2 - Nhóm 6</h3>
    <div
      class="item"
      *ngFor="let item of items; let i = index"
      [class.highlight]="highlightedIndices.has(i)"
    >
      <!-- Kiểm tra nếu chỉ số có trong Set -->
      {{ item }}
    </div>
  </div>
</div>
